@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif !important;
}

html {
  background-color: #fff3f3;
}
.ArrowButton__ButtonWrapper {
  background-color: white;
}

.active {
  padding: 0.25rem 0.75rem;
  background-color: #998484;
  border-radius: 6px;
  transform: none !important;
}
.active:hover {
  padding: 0.25rem 0.75rem !important;
  background-color: #998484 !important;
  border-radius: 6px !important;
  transform: none !important;
}
a {
  user-select: none;
}

img {
  display: inline-block !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: white !important;
}

.textOverflow {
  margin-top: 25px !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

@media (min-width: 640px) {
  .textOverflow {
    margin-top: 0px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 9 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}
#footerPolygon {
  background-color: #c2a8a8;
  clip-path: ellipse(95% 70% at 90% 100%);
}
.border-b-2 {
  border-bottom-width: 1px !important;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #998484;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2a8a8;
  cursor: pointer !important;
}

.accordion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff3f3;
  max-width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.06),
    0 20px 30px -10px rgba(15, 72, 179, 0.2);
}
.accordion-list__item + .accordion-list__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-item--opened .accordion-item__icon {
  transform: rotate(180deg);
}
.accordion-item--opened .accordion-item__inner {
  max-height: 100rem;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
}
.accordion-item--opened .accordion-item__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}
.accordion-item__line {
  display: block;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff3f3;
  z-index: 2;
  position: relative;
}
.accordion-item__line:hover {
  cursor: pointer;
}
.accordion-item__title {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 700;
  color: #525252;
  width: 90%;
}
.accordion-item__icon {
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
  opacity: 0.6;
}
.accordion-item__inner {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.5s;
  transition-property: max-height;
  z-index: 1;
  position: relative;
}
.accordion-item__content {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay: 0.5s;
  padding: 0 1.2rem 1.2rem;
}
.accordion-item__paragraph {
  margin: 0;
  font-size: 1rem;
  color: #232323;
  font-weight: 300;
  line-height: 1.3;
}
