@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
* {
  font-family: "Roboto" !important;
}

html {
  background-color: #fff3f3;
}

.active {
  padding: 0.25rem 0.75rem;
  background-color: #998484;
  border-radius: 6px;
  transform: none !important;
}
.active:hover {
  padding: 0.25rem 0.75rem !important;
  background-color: #998484 !important;
  border-radius: 6px !important;
  transform: none !important;
}
a {
  user-select: none;
}

img {
  display: inline-block !important;
}
